asgiref==3.7.2
autopep8==2.0.4
Django==5.0
flake8==6.1.0
mccabe==0.7.0
mypy==1.5.1
mypy-extensions==1.0.0
pycodestyle==2.11.0
pyflakes==3.1.0
python-dotenv==1.0.0
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
tzdata==2023.3
upgrade-requirements==1.7.0
